.flex {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content {
  width: 40%;
}

.text {
  width: 90%;
  text-align: justify;
}

.bold {
  font-weight: bold;
}
