body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

nav {
  background-color: white;
  border-bottom: 4px solid black;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: top 0.3s;
}

nav ul {
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  /* display: inline-block; */
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

nav .main-nav-a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  /* padding: 24px 32px; */
  padding: 24px 32px;
  /* transition: background-color 0.25s; */
}

nav .main-nav-a:hover {
  background-color: black;
  color: white;
}

.main-nav-active .main-nav-a {
  background-color: black;
  color: white;
}

#page-body {
  /* max-width: 700px; */
  margin: auto;
  /* padding-top: 72px; */
  padding: 72px 72px 72px 72px;
}

.home-page-content,
.project-content,
.logs-page-content {
  /* margin: auto; */
  /* margin-top: 24.120px;; */
  width: 60%;
  text-align: justify;
}

.project-page-anim,
.docs-page-anim,
.developers-page-anim {
  position: relative;
  animation-name: toDown;
  animation-duration: 0.5s;
  /* animation-fill-mode: forwards; */
}
@keyframes toDown {
  from {
    top: -200px;
  }
  to {
    top: 0px;
  }
}

.project-sidenav {
  animation-name: toRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
/* @keyframes toRight {
  from {left: -300px; position: relative; top: 0;}
  to {left: 0; position: sticky; top: 80px;}
} */
@keyframes toRight {
  0% {
    left: -300px;
    position: relative;
    top: 0;
  }
  99% {
    left: 0;
    position: relative;
    top: 0;
  }
  100% {
    left: 0;
    position: sticky;
    top: 80px;
  }
}
